:root {
  --bg-form-color: #80cbc4;
}

.rightCardBody {
  width: 70%;
  padding: 20px;
  background-color: #eff3f2;
  height: 750px;
}
.contentDivBox {
  height: 30px; /* 또는 원하는 높이 */
  overflow-y: auto; /* 내용이 높이를 초과할 경우 스크롤바 표시 */
}
.selection-container {
  display: flex;
  gap: 10px; /* 드롭다운 사이의 간격 */
  align-items: center;
}

.selection-container .dropdown {
  flex: 1; /* 각 드롭다운이 동일한 너비를 가지도록 설정 */
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}
.col:nth-child(-n + 2) .cards {
  height: 280px; /* 아래 카드들과 동일한 높이로 설정 */
}

/* 나의 노력과 학생 버전 콘텐츠 카드 내부 콘텐츠 스크롤 가능하도록 설정 */
/* .col:nth-child(-n + 2) .cards > div {
  overflow-y: auto;
  flex-grow: 1;
} */

/* 기존 .cards 스타일 수정 */
.cards {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* 아래 카드들의 높이 명시적 설정 */
.col:nth-child(n + 3) .cards {
  height: 280px;
}

.firstTitle,
.contentTitle1,
.card-title {
  margin-bottom: 20px;
}

.underFirstTitle {
  margin-bottom: 15px;
}

.btn.btn-secondary {
  background-color: var(--bg-form-color);
  border: none;
  margin-right: 10px;
}

.searchContentBox {
  width: 70%;
  margin-right: 10px;
}

.contentSearchBtn {
  background-color: var(--bg-form-color);
  color: white;
  border: none;
  padding: 5px 10px;
}

.myEffortsContent {
  flex-grow: 1;
}

#questionForm {
  display: flex;
  flex-direction: column;
}
.questionTitle {
  margin: 20px;
}
/* 질문button */
.questionBtn {
  background-color: var(--bg-form-color);
  height: 50px;
  border-color: var(--bg-form-color);
}

.questionInput {
  margin-bottom: 10px;
  height: 100px;
}

.answerArea {
  border: 1px solid var(--bg-form-color);
  border-radius: 5px;
  height: 400px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
}

.answerAreaBtn {
  background-color: var(--bg-form-color);
  color: white;
  border: none;
  padding: 5px 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.content-section {
  display: none;
}

.active {
  display: block;
}
.dropdown-menu {
  list-style-type: none !important;
  padding-left: 0 !important;
  margin: 0 !important;
}

.dropdown-menu li,
.dropdown-menu li::marker {
  list-style-type: none !important;
  padding: 0 !important;
}

.dropdown-menu li a.dropdown-item {
  display: block !important;
  padding: 0.25rem 1rem !important;
  clear: both !important;
  font-weight: 400 !important;
  color: #212529 !important;
  text-align: inherit !important;
  text-decoration: none !important;
  white-space: nowrap !important;
  background-color: transparent !important;
  border: 0 !important;
}

.dropdown-menu li a.dropdown-item:hover,
.dropdown-menu li a.dropdown-item:focus {
  color: #1e2125 !important;
  background-color: #e9ecef !important;
}
/* 저장포인트 */
